* {
    margin: 0;
    padding: 0;
    background: black;

   
}

div{
display: block;
align-items: center;
text-align: center;

margin: 0 auto;

}
.a {
    /* background: rgb(3, 72, 99); */
    width: 300px;
    height: 80px;

}

.b {
    /* background: rgb(52, 52, 209); */
    width: 300px;
    height: 80px;

}
a{
    color: white;
}

